body, html {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.game-container {
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.272);
  padding: 3.7rem;
  max-width: 600px;
  
}


h1 {
  font-size: 34px;
  text-align: center;
  color: rgb(110, 75, 199);
}

.scoreboard {
  color: rgb(110, 75, 199);
  display: flex;
  justify-content: center;
  gap: 2.5em;
}

.scoreboard p {
  font-weight: bold;
}

.rock, 
.paper, 
.scissors {
  font-size: 40px;
  margin: 2%;
  padding: 1.3rem;
  background-color: transparent;
  border: 2px solid rgb(110, 75, 199);
  border-radius: 60%;
  transition: all 0.3s;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  box-shadow: 0px 2px 10px rgba(142, 102, 243, 0.322);
  cursor: pointer;
  transform: scale(1.08);
}

svg {
  color: rgb(142, 102, 243);
}

.result {
  font-size: 14px;
  text-align: center;
  color: rgb(101, 46, 239);
}
